dependometer-cpp-1.2.7/src/test/test-dependencies/testconfig.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT testmetrics (pagemetrics+) >

<!ELEMENT pagemetrics (scanfile,metric*,verifytext*) >

<!ELEMENT metric (name|tablename|value)* >

<!ELEMENT name (#PCDATA) >

<!ELEMENT scanfile (#PCDATA) >

<!ELEMENT tablename (#PCDATA) >

<!ELEMENT value (#PCDATA) >

<!ELEMENT verifytext (#PCDATA) >


